<% include partial/header.ejs %>

	<div class="container">
		<h2 class="jumbotron">CRUD in MEAN</h2>

		<table class="table">
			<thead>
				<tr>
					<th><input type="text" ng-model="registrasi.nama" class="form-control" placeholder="Nama siswa"></th>
					<th><input type="text" ng-model="registrasi.kelas" class="form-control" placeholder="Kelas siswa"></th>
					<th colspan="2">
						<button type="button" class="btn btn-primary" ng-click="tambah()" id="tambah">Tambah
						</button><button type="button" class="btn btn-warning" ng-click="simpan()" id="simpan">Save Edited</button>
					</th>
				</tr>
				<tr>
					<th>No</th>
					<th>Nama</th>
					<th>Kelas</th>
					<th>action</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="x in semuaData">
					<td>{{$index+1}}</td>
					<td>{{x.nama}}</td>
					<td>{{x.kelas}}</td>
					<td>
						<button type="button" class="btn btn-warning" ng-click="del(x._id)">delete</button>
						||
						<button type="button" class="btn btn-success" ng-click="edit(x._id)">edit</button>
					</td>
				</tr>
			</tbody>
		</table>
	<script>
		$("#simpan").hide();
	</script>
	<script src="/script.js" type="text/javascript" ></script>
</div>

<% include partial/footer.ejs %>
